[submodule "barbershop"]
	path = barbershop
	url = https://github.com/Pragmatists/barbershop.git
[submodule "tdd-angular-seed"]
	path = tdd-angular-seed
	url = https://github.com/Pragmatists/tdd-angular-seed.git
[submodule "whack-a-mole-angularjs"]
	path = whack-a-mole-angularjs
	url = https://github.com/Pragmatists/whack-a-mole-angularjs.git
[submodule "fizzbuzz-kata-js"]
	path = fizzbuzz-kata-js
	url = https://github.com/Pragmatists/fizzbuzz-kata-js.git
[submodule "snow-mocks-kata-javascript"]
	path = snow-mocks-kata-javascript
	url = https://github.com/Pragmatists/snow-mocks-kata-javascript.git
[submodule "tdd-angular-directives"]
	path = tdd-angular-directives
	url = https://github.com/Pragmatists/tdd-angular-directives.git
[submodule "jasmine-koans"]
	path = jasmine-koans
	url = https://github.com/Pragmatists/jasmine-koans.git
[submodule "smelly-hangman"]
	path = smelly-hangman
	url = https://github.com/Pragmatists/smelly-hangman.git
[submodule "tdd-protractor-checklist"]
	path = tdd-protractor-checklist
	url = https://github.com/Pragmatists/tdd-protractor-checklist.git
[submodule "stack-kata-js"]
	path = stack-kata-js
	url = https://github.com/Pragmatists/stack-kata-js.git
