[submodule "barbershop"]
	path = barbershop
	url = git@github.com:Pragmatists/barbershop.git
[submodule "tdd-angular-seed"]
	path = tdd-angular-seed
	url = git@github.com:Pragmatists/tdd-angular-seed.git
[submodule "whack-a-mole-angularjs"]
	path = whack-a-mole-angularjs
	url = git@github.com:Pragmatists/whack-a-mole-angularjs.git
[submodule "fizzbuzz-kata-js"]
	path = fizzbuzz-kata-js
	url = git@github.com:Pragmatists/fizzbuzz-kata-js.git
[submodule "snow-mocks-kata-javascript"]
	path = snow-mocks-kata-javascript
	url = git@github.com:Pragmatists/snow-mocks-kata-javascript.git
